.prod-desc-holder {
  width: 50%;
  display: inline-block; }

.price-deprecated {
  font-size: smaller;
  color: red;
  position: absolute;
  top: -8px;
  left: 39px; }

.price-prod {
  margin: 10px;
  position: relative; }

.product-name {
  margin: 5px; }

.price-product {
  margin: 5px; }

.menu-holder {
  position: fixed;
  height: 85px;
  top: 0;
  left: 0;
  right: 0;
  background: #e667af;
  box-shadow: #85004b 0px 5px 10px; }

.body {
  margin: 10px; }

.col-content {
  min-height: 500px;
  float: left; }

.col-menu {
  text-align: center;
  float: left; }

.basket-c {
  margin: 15px;
  color: #CD0074;
  display: inline-block;
  border: none;
  position: relative; }

.basket-container {
  float: right;
  position: relative;
  margin-right: 5px; }

.search {
  border: none; }

.side-menu {
  width: 100%;
  font-size: larger;
  background: #e667af; }

#spa-holder {
  overflow: hidden; }

.menu-link {
  color: inherit;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Times New Roman", serif; }

.content-row {
  padding-top: 90px;
  overflow: hidden; }

body {
  overflow: auto;
  background: #FBC2E2; }

.category-title {
  text-transform: uppercase;
  font-size: 1.5em;
  padding-top: 10px;
  background: #679b00;
  height: 40px; }

.logo {
  float: left; }

img {
  max-width: 100%;
  max-height: 100%; }

.product-page {
  overflow: hidden; }

.product-holder {
  width: 250px;
  min-height: 302px;
  float: left;
  margin: 15px;
  border-radius: 10px;
  border: none;
  position: relative;
  background: white;
  display: table-cell; }

.img-helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

.product-container-image {
  vertical-align: middle; }

.image-holder {
  width: 230px;
  height: 230px;
  vertical-align: middle;
  margin: 7.5px; }

.product-helper {
  display: none; }

@media only screen and (min-width: 1357px) {
  .body {
    min-width: 1320px; }
  .col-menu {
    width: 190px; }
  .col-content {
    width: 1120px; } }

.price-container {
  position: relative;
  padding-top: 7px; }

.price-holder {
  font-size: larger; }

.price-holder-deprecated {
  font-size: small;
  color: red;
  text-align: left;
  position: absolute;
  margin-left: -10px;
  margin-top: -7px;
  z-index: 100; }

.product-holder-button {
  position: absolute;
  z-index: 150; }

.image-product {
  width: 300px;
  max-height: 300px;
  float: left;
  background: white; }

.product-img {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle; }

.container {
  position: relative;
  overflow: hidden;
  float: left; }

.basket-product {
  min-height: 100px;
  background: white;
  margin: 5px;
  border-radius: 10px; }

.basket-img-container {
  height: 90px;
  width: 90px;
  margin: 5px;
  float: left; }

.basket-img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.basket-info {
  float: left;
  height: 100%;
  max-width: 500px; }

.plusminus-holder {
  float: left;
  height: 100%;
  width: 100px;
  text-align: center; }

.basket-info {
  margin: 10px;
  width: 50%; }

.price-holder {
  width: 100%; }

.basket-buttons {
  width: 100%; }

.user-data {
  margin: 10px;
  text-align: left; }

.empty-div {
  text-align: center; }

.empty {
  font-size: 2em; }

.button-back {
  margin: 10px; }

.product-page {
  margin: 10px; }

.product-col {
  width: 300px;
  /* float: left; */
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  text-align: left; }

@media only screen and (max-width: 1357px) and (min-width: 1052px) {
  .body {
    width: 1330px; }
  .col-menu {
    width: 190px; }
  .col-content {
    width: 1120px; } }

@media only screen and (max-width: 1052px) and (min-width: 747px) {
  .body {
    width: 1025px; }
  .col-menu {
    width: 165px; }
  .col-content {
    width: 840px; } }

@media only screen and (max-width: 747px) {
  .prod-col-holder {
    margin-left: auto;
    margin-right: auto;
    display: block; } }

@media only screen and (max-width: 747px) and (min-width: 501px) {
  .body {
    width: 720px; }
  .col-menu {
    width: 140px; }
  .col-content {
    width: 560px; }
  #spa-holder-100 {
    width: 100%;
    text-align: center; }
  .product-col {
    width: 100%; }
  .prod-desc-holder {
    width: 100%;
    text-align: left; } }

@media only screen and (max-width: 500px) {
  .body {
    min-width: 300px; }
  .col-menu {
    width: 100%;
    float: none; }
  .col-content {
    width: 100%;
    float: none; }
  #spa-holder {
    width: 100%;
    text-align: center; }
  #spa-holder-100 {
    width: 100%;
    text-align: center; }
  .product-col {
    width: 100%;
    display: block; }
  .image-product {
    float: none; }
  .prod-desc-holder {
    width: 100%;
    text-align: left;
    display: block; }
  .product-holder {
    display: block; }
  .container {
    text-align: left; }
  .basket-img-container {
    display: none; } }

